.buttons-menu {
  width: 100vw;
  margin: 2rem;
  display: flex;
  justify-content: space-around;
}

.buttons-menu button {
  width: 10rem;
  height: 2rem;
  background-color: #368b85;
  color: white;
  border-radius: 10px;
}

.buttons-menu button:hover {
  background-color: white;
  color: #368b85;
}
